body {background-color: aqua; text-align: justify; font-size: 18px;}
h1 {text-align: center; background-color: blue; color: blueviolet;}
h3 {text-align: justify; color: brown;}
b {color: blue; font-size: 18px;}
i {color: blue; font-size: 18px;}
header,footer {background-color: cornflowerblue;  color: darkblue; text-align: center; font-size: 20px;}
main {background-color: crimson;}
.PRIMEIROPARAGRAFO {text-align: justify; font-size: 18px; border: black solid 2px; padding: 10px; margin: 10px;}
.SEGUNDOPARAGRAFO